<div id="NewVersionRecommend">
	<div>
		<div class="logo">
			<img src="/magica/resource/image_web/common/logo/logo.png" alt="">
		</div>
		<div id="versionReccommend" data-href="">
			<span class="versionReccommendTxt c_purple">新しいバージョンがあります。ストアで最新版をダウンロードしてください。</span>
			<span class="versionReccommendTxt02 c_gold">ストアに最新版が公開されていない場合は暫くお待ちください。<br>
			アプリを削除してしまうとデータが初期化されてしまいますのでご注意ください。</span>
			<p id="verUpBtn" class="btn b_pink TE"><span class="b_screend"></span>ダウンロードへ</p>
		</div>
	</div>

	<p id="app_ver" class="c_gold">現在のバージョン:<span class="c_gold"></span></p>
	<p id="app_new_ver" class="c_gold">最新のバージョン:<span class="c_gold"></span></p>
	<p id="contactBtn" class="sb_gold_02 TE"><span class="b_screend"></span><span class="c_gold">お問い合わせ</span></p>
</div>
