<% 
var _btnClass = 'off';
var _transferBtnClass = 'off';
if(model.gameUser) {
	_btnClass = '';
}
if(model.isServerActive) {
	_transferBtnClass = '';
}
%>
<div id="TopPage">
	<div class="mainImg"></div>
	<div class="logo"></div>
	<div class="thanks"></div>
	<div id="CharaListTopBtn" class="TE se_decide <%= _btnClass %>"></div>
	<div id="ArchiveBtn" class="TE se_decide <%= _btnClass %>"></div>
	<div id="TakeoverBtn" class="TE se_decide <%= _btnClass %>"></div>
	<div id="RefundBtn" class="TE se_decide <%= _btnClass %>"></div>
	<div id="transferBtn" class="TE se_decide <%= _transferBtnClass %>"></div>
	<div id="noticeSec">
		<ul>
			<li class="noticeText TE se_decide" data-id="Notice01">【重要】サービス終了のお知らせ</li>
			<li class="noticeText TE se_decide" data-id="Notice02">【重要】「有償マギアストーン」の払戻し手続きのお知らせ</li>
		</ul>
	</div>
	<div id="copy"></div>
</div>

<script id="transferInner" type="text/template">
	<div id="transferPopup">
		<span class="leftCol c_gold">引き継ぎ・連携ID</span><span class="rightCol"><input type="text" id="transferId" class="personalId" value=""></span><br>
		<span class="leftCol c_gold">パスワード</span><span class="rightCol"><input type="password" id="transferPassword" class="password" value=""></span>
		<div class="transferAlert c_red">※パスワードは8文字以上15文字以内です</div>
		<div class="transferNotice">データの引き継ぎ・連携元となる引き継ぎ・連携IDと設定したパスワードを入力するとデータの引き継ぎ・連携が完了します。</div>
	</div>
</script>

<script id="tempRegisterRepaymentMailPopup" type="text/template">
	<p>現在残っている有償マギアストーン数と払戻し金額は以下になります。</p><br>
	<div class="MoneySec">
		<dl class="gameMoney common_dl">
			<dt>有償マギアストーン数</dt>
			<dd><%="<%= model.gameMoney %\>"%>個</dd>
		</dl>
		<dl class="Money common_dl">
			<dt>払戻し金額</dt>
			<dd><%="<%= model.money %\>"%>円</dd>
		</dl>
	</div>
	<div class="MailSec">
		<p>申請のお手続きにはメールアドレスが必要になります。</p><br>
		<p>メール受信可能なメールアドレスを入力の上、送信ボタンを押してください。</p><br>
		<span class="textAddress c_gold">メールアドレス</span><input id="inputMail" class="commonFrame3 inputSec" type="text" value="">
	</div>
	<div class="ExplanSec">
		<span class="mb_white ExplanBtn TE"><span class="b_screen"></span>手続き・注意事項</span>
	</div>
</script>

<script id="tempAuthNumberPopup" type="text/template">
	<p class="address">【 <%="<%= model.mailAddress %\>"%> 】</p>
	<p>上記メールアドレスにお送りしたメールに記載の確認番号を入力の上、<br>確認ボタンを押してください。</p>
	<div class="inputSec">
		<span class="textNumber c_gold">確認番号</span><input id="inputAuthNum" class="commonFrame3 inputSec" type="text" value="">
	</div>
	<div class="cautionSec">
		※確認ボタン押下後、当社よりCASH POST(キャッシュポスト)サービスの利用に<br>
		必要な「認証キー」が記載されたメールが届きましたら、払戻し申請の受付は完了となります。
	</div>
	<div class="issueSec">
		<p>メールが届かない場合は上記メールアドレス、注意事項を<br>再度ご確認の上、再発行ボタンを押してください。</p>
		<div class="issueBtn TE mb_white"><span class="b_screen"></span>確認番号の再発行</div>
	</div>
	<div class="ExplanSec">
		<span class="mb_white ExplanBtn TE"><span class="b_screen"></span>手続き・注意事項</span>
	</div>
</script>

<script id="tempRequestCompletePopup" type="text/template">
	払戻し申請の受付が完了しました。<br><br>
	順次、ご入力いただいた連絡用メールアドレス宛に、<br>
	「CASH POST(キャッシュポスト)」サービスを利用した<br>
	払戻しの方法をご案内いたします。
	<div class="ExplanSec">
		<span class="mb_white ExplanBtn TE"><span class="b_screen"></span>手続き・注意事項</span>
	</div>
</script>

<script id="tempRegisterRepaymentMailCautionPopup" type="text/template">
	<div id="cautionBase">
		<div class="popupScrollWrap cautionPop">
		<div class="caution">
<p>■払戻し申請のお手続きについて</p>
1.本画面の入力フォームに連絡用のメールアドレスを入力して送信を押してください。<br>
2.入力いただいたメールアドレス宛に、当社より「確認番号」が記載されたメールが以下のメールアドレスから届きます。（support@magireco.com）<br>
3.メールアドレス送信後に切り替わる画面にて「確認番号」を入力、「確認」ボタンを押下。<br>
4.入力いただいたメールアドレス宛に、当社よりCASH POST(キャッシュポスト)サービスの利用に必要な「認証キー」が記載されたメールが届きましたら、払戻し申請の受付は完了となります。<br>
後日、入力いただいたメールアドレス宛に、「CASH POST(キャッシュポスト)」サービスを利用した払戻しの方法をご案内いたします。<br>
<br>
<p>■注意事項</p>
・メールのセキュリティ設定によっては正しくメールが届かない場合がございますので、以下のドメインを受信できるよう設定をお願いいたします。<br>
@magireco.com<br>
@magi-reco.com<br>
@cashpost.jp<br>
・払戻しは順次開始いたしますが、お申出の完了順にて対応をさせていただきます。払戻し完了までお時間を頂戴する場合がございますのでご了承ください。<br>
・すでに消費された「有償マギアストーン」、所有中の「無償マギアストーン」、及び「有償マギアストーン」以外の購入済みゲーム内アイテムは払戻しの対象外となります。<br>
・日本国内口座以外への払戻しはいたしかねます。<br>
・ご登録いただきました個人情報は、払戻し手続きのみで利用いたします。払戻し後は当社個人情報保護ポリシー（https://www.aniplex.co.jp/help/privacy.html）に則り、適切に破棄いたします。<br>
・申出完了とともに、本対応趣旨、利用規約にご理解、同意いただいたものとし、申出のキャンセルはできないものとします。<br>
		</div>
	</div>	
</script>