<div id="RegularEventExterminationBattleConfirm">
	<% var _eventData = eventMaster.RegularEventExterminationBattleConfirm; %>

	<!-- <div id='helpBtn' class='se_decide TE sb_gold_02' data-eventid="<%= eventMaster.regularEventId %>">遊び方</div> -->

	<!-- <div id='archiveBtn' class='se_decide TE sb_gold_02 linkBtn' data-href="#/StoryCollection/<%= eventMaster.regularEventId %>">アーカイブ</div> -->

	<div id="bossArea">
		<div id="bossImageArea">
			<img data-nativeimgkey='enemy_<%= _eventData.enemyId %>_l' data-src='resource/image_native/enemy_w/enemy_<%= _eventData.enemyId %>_l.png'>
		</div>
		
		<div id="bossParamArea">
			<div id="name"><%= _eventData.enemyName %></div>
			<div id="stageName"><%= _eventData.areaname %></div>
			<div class="attribute"><div class="<%= _eventData.enemyAttribute %>"></div></div>
			<div id="bossParam">推奨戦力<span id="bossParamNum"><%= _eventData.enemyForces %></span></div>
			<div class="detailBtn se_decide TE"></div>
		</div>

		<div id="kekkaiImageArea">
			<img class="kekkai" src='/magica/resource/image_web/regularEvent/extermination/common/emblem/<%= _eventData.areaImage %>.png'>
		</div>
	
	</div>

	<div id="vsIcon" class="difficulty<%= _eventData.difficultyId %>"></div>

	<div id="deckListArea" data-index="<%= _eventData.index %>" class="se_decide TE">
	</div>

	<!-- <div id="deckChangeArea">
		<div class="backBtn se_decide TE"></div>
		<div class="nextBtn se_decide TE"></div>
	</div> -->

	<div id="footerBtnArea">
		<div id="linkFormationtBtn" class="btn b_white se_decide TE">チーム編成一覧</div>
		<div id="linkBattleBtn" class="se_decide TE">開始</div>
	</div>

</div>

<!-- ユニットデッキエリア -->
<script type="text/template" id="unitListTemp">
	<div class="leaderArea">
		<%="<% if(model.cardList && model.cardList.length != 0){ %\>"%>
			<img data-nativeimgkey='card_<%="<%= model.cardList[0].cardId %\>"%>_m' data-src='resource/image_native/card/image/card_<%="<%= model.cardList[0].cardId %\>"%>_m.png'>
		<%="<% } %\>"%>
	</div>

	<div class="otherUnitArea">
		<%="<% if(model.cardList && model.cardList.length != 0){ %\>"%>
			<div class="attribute"><div class='<%="<%= model.cardList[0].card.attributeId %\>"%>'></div></div>
		<%="<% } %\>"%>

		<div id="deckList">
			<%="<% if(model.cardList && model.cardList.length != 0){ _.each(model.cardList, function(mtl,index){ if(index == 0){return;}%\>"%>
			<div class="unitList">
				<div class="unitImg"><img data-nativeimgkey='card_<%="<%= mtl.cardId %\>"%>_F' data-src='resource/image_native/card/image/card_<%="<%= mtl.cardId %\>"%>_f.png'></div>
				<div class="attribute"><div class='<%="<%= mtl.card.attributeId %\>"%>'></div></div>
			</div>
			<%="<% }); } %\>"%>
		</div>

		<div class="deckParamArea">戦力値<span class="deckParamNum"><%="<%= model.recommendedStrength %\>"%></span></div>
	</div>
</script>