<div id='MainQuestSingleRaid'>
	<div class='allClear'></div>
	<div id="bg"></div>

	<div id="scaleChangePlus" class="se_tabs TE"></div>
	<div id="scaleChangeMinus" class="se_tabs TE"></div>
	<div id="resetPosition" class="se_cancel TE"></div>
	
	<div id='mapWrap'></div>
	<% if(Number(chapterId) < 24){ %>
		<div id='title' style='background: url("/magica/resource/image_web/chapter/chapter_<%= chapterId %>_a.png") left top no-repeat;'></div>
	<% }else{ %>
		<div id='title' style='background: url("/magica/resource/image_web/chapter/chapter_<%= chapterId %>.png") left top no-repeat;'></div>
	<% } %>
</div>

<!--  -->
<script type="text/template" id="">
	<%="<%= model. %\>"%>
	<%="<% console.log('') %\>"%>
	<%="<% if() { %\>"%>
	<%="<% } %\>"%>
</script>
