<div id="SecondPartLastTop">
	<div class="bg">
		<div id="boss" class="">
			<img class="bossIcon num1" src="/magica/resource/image_web/page/quest/secondPartLast/enemyAnime/enemy_center.png">
			<div class="topLeftArm">
				<div class="topLeftArm1">
					<img class="topLeftArmIcon1" src="/magica/resource/image_web/page/quest/secondPartLast/enemyAnime/arm_lower_01.png">
					<div class="topLeftArm2">
						<img class="topLeftArmIcon2" src="/magica/resource/image_web/page/quest/secondPartLast/enemyAnime/arm_lower_02.png">
						<div class="topLeftHand">
							<img class="topLeftHandIcon" src="/magica/resource/image_web/page/quest/secondPartLast/enemyAnime/arm_hand.png">
						</div>
					</div>
				</div>
			</div>
			<div class="topRightArm">
				<div class="topRightArm1">
					<img class="topRightArmIcon1" src="/magica/resource/image_web/page/quest/secondPartLast/enemyAnime/arm_lower_01.png">
					<div class="topRightArm2">
						<img class="topRightArmIcon2" src="/magica/resource/image_web/page/quest/secondPartLast/enemyAnime/arm_lower_02.png">
						<div class="topRightHand">
							<img class="topRightHandIcon" src="/magica/resource/image_web/page/quest/secondPartLast/enemyAnime/arm_hand.png">
						</div>
					</div>
				</div>
			</div>
			<div class="bottomLeftArm">
				<div class="bottomLeftArm1">
					<img class="bottomLeftArmIcon1" src="/magica/resource/image_web/page/quest/secondPartLast/enemyAnime/arm_lower_01.png">
					<div class="bottomLeftArm2">
						<img class="bottomLeftArmIcon2" src="/magica/resource/image_web/page/quest/secondPartLast/enemyAnime/arm_lower_02.png">
						<div class="bottomLeftHand">
							<img class="bottomLeftHandIcon" src="/magica/resource/image_web/page/quest/secondPartLast/enemyAnime/arm_hand.png">
						</div>
					</div>
				</div>
			</div>
			<div class="bottomRightArm">
				<div class="bottomRightArm1">
					<img class="bottomRightArmIcon1" src="/magica/resource/image_web/page/quest/secondPartLast/enemyAnime/arm_lower_01.png">
					<div class="bottomRightArm2">
						<img class="bottomRightArmIcon2" src="/magica/resource/image_web/page/quest/secondPartLast/enemyAnime/arm_lower_02.png">
						<div class="bottomRightHand">
							<img class="bottomRightHandIcon" src="/magica/resource/image_web/page/quest/secondPartLast/enemyAnime/arm_hand.png">
						</div>
					</div>
				</div>
			</div>
		</div><!-- //boss -->
		<div id="crashSec" class="">
			<div class="topLeftArmCrash">
				<img src="/magica/resource/image_web/page/quest/secondPartLast/enemyAnime/arm_crash.png">
			</div>
			<div class="topRightArmCrash">
				<img src="/magica/resource/image_web/page/quest/secondPartLast/enemyAnime/arm_crash.png">
			</div>
			<div class="bottomLeftArmCrash">
				<img src="/magica/resource/image_web/page/quest/secondPartLast/enemyAnime/arm_crash.png">
			</div>
			<div class="bottomRightArmCrash">
				<img src="/magica/resource/image_web/page/quest/secondPartLast/enemyAnime/arm_crash.png">
			</div>
		</div>
	</div><!-- //bg -->
	<div id="stageList"></div>
	<div class="caution">制圧中の腕をタップすることで制圧状態を解除できます</div>
	<div class="btn b_pink TE" id="linkFormationtBtn">チーム編成一覧</div>
	<div id='helpBtn' class='se_decide TE sb_gold_02'>遊び方</div>
</div>

<!-- クリアアニメ -->
<script type="text/template" id="clearAnimePartsTemp">
	<div id="ClearAnimation">
		<div id="BlackBg"></div>
		<div id="centerDom">
			<div id="gear"></div>
			<div id="BattleClear_eng"></div>
			<div id="mainLight"></div>
			<div id="rotationLight"></div>
			<div id="magicCircle" class="BattleClearAnimation"></div>
			<div id="BattleClear_occup" class='num<%="<%= model.index %\>"%>'></div>
			<div id="BattleClear_text"></div>
			<div id="BattleClear_line"></div>
			<div id="rewardArea">
			</div>
		</div>
	</div>
</script>