<div id="Scene0FilmAnimation" class="<%= model.terminalClass %>">
	<div class="mainWrap">
		<div class="flowWrap">
			<div class="noiseWrap">
				<div class="noise1"></div>
				<div class="noise2"></div>
				<div class="noise3"></div>
				<div class="noise4"></div>
				<div class="noise5"></div>
				<div class="noise6"></div>
				<div class="noise7"></div>
			</div>
			<div class="filmWrap">
				<div class="filmImg"></div>
			</div>
			<div class="fadeWrap"></div>
			<div class="frameWrap"></div>
		</div>
	</div>
</div>