<div id="CharaComposeAttribute">

	<div id="mainSec">
	</div>

	<div id="btnArea" class="compose offLink charaDetail">
		<ul>
			<li class="TE charaBtn compose linkBtn se_decide" data-href="#/CharaListCompose"><span></span></li>
			<li class="TE charaBtn composeMagia linkBtn se_decide" data-href="#/CharaListComposeMagia"><span></span></li>
			<li class="TE charaBtn customize linkBtn se_decide" data-href="#/CharaListCustomize"><span></span></li>
			<li class="TE charaBtn equip linkBtn se_decide" data-href="#/CharaListEquip"><span></span></li>
			<li class="TE charaBtn enhance se_decide"><span></span></li>
			<li class="TE charaBtn composeAttribute current linkBtn se_decide" data-href="#/CharaListTop"><span></span></li>
		</ul>
	</div>
</div>
