<div class="mainSec">
	<img src="/magica/resource/image_web/page/chara/compose_attribute/title_attribute_result.png" alt="" class="textImg">
	<div class="textSec">
		<div class="text attribute"><%= model.attribute %>属性</div><br>
		<div class="text before type"><%= model.convertType %></div><div class="text before"><%= model.quantityAll.before %></div>
		<div class="arrow"></div>
		<div class="text after type c_red"><%= model.convertType %></div><div class="text after c_red"><%= model.quantityAll.after %></div><div class="text plus c_red">（＋<%= model.diffQuantity %>）</div>
	</div>
	<div class="touchScreen active"></div>
</div>