<div id="GachaSaleSettingPopup">
	ガチャから取得したメモリアを<span class="c_pink">自動的に売却することができます。</span><br>
	チェックを付けた項目のメモリアのみ売却されます。
	<div class="settingWrap">
		<div class="header">レアリティ</div>
		<div class="flexBox">
			<span class="checkWrap se_tabs" data-filter="RANK_1">
				<span class="checkBox"></span>
				<span class="star"></span>1
			</span>
			<span class="checkWrap se_tabs" data-filter="RANK_2">
				<span class="checkBox"></span>
				<span class="star"></span>2
			</span>
			<span class="checkWrap se_tabs" data-filter="RANK_3">
				<span class="checkBox"></span>
				<span class="star"></span>3
			</span>
			<!-- <span class="checkWrap se_tabs" data-filter="EVENT">
				<span class="checkBox"></span>
				イベントBONUS
			</span> -->
		</div>
		<div id="clearBtn" class="sb_gold_01 TE se_cancel">選択全解除</div>
	</div>
	<div id="cautionWrap" class="se_tabs">
		<div class="checkBox"></div>
		<div>
			<div class="flexBox c_red"><span class="star"></span>3 が自動売却の対象に選択されています。</div>よろしいですか？
		</div>
	</div>
</div>
