『マギアレコード 魔法少女まどか☆マギカ外伝』をご利用いただき誠にありがとうございます。<br />
	<br />
	この度、『マギアレコード 魔法少女まどか☆マギカ外伝』は <br />
	2024年7月1日15:00をもちまして、DMM版(PC版)のサービスを終了、<br />
	2024年7月31日15:00をもちまして、<br />
	iOS/Android版のサービスを終了させていただくこととなりました。<br />
	<br />
	サービス提供開始以降、約6年と9ヶ月の間ユーザーの皆さまに支えられ、<br />
	開発運営に努めてまいりましたが、現状においてサービスの品質を維持した<br />
	運営の継続が困難であるという判断になり、このたびの決定にいたりました。<br />
	突然のお知らせとなりました事をマギアレコード運営チーム一同深くお詫び申し上げると共に、 <br />
	これまでご愛顧いただきましたユーザーの皆様に厚く御礼を申し上げます。<br />
	<br />
	サービス終了までのスケジュールは以下の通りとなっております。<br />
	<br />
	<p class="newsHead">ゲーム内通貨「マギアストーン」及び「マギアパスポート」等の課金アイテムの販売終了</p>2024年5月31日(金)17:00<br />
	<br />
	<span class="c_red">※「マギアストーン」はサービス終了までご利用可能です。</span><br />
	<span class="c_red">※購入済みの「マギアパスポート」の特典は、期限までお受取りいただけます。</span><br />
	<br />
	<p class="newsHeadUnder">【DMM版(PC版)をご利用のお客様】</p>■DMM版(PC版)サービス終了<br />
	2024年7月1日(月)15:00<br />
	<br />
	■DMM版(PC版)の未使用「有償マギアストーン」払戻し申請受付期間<br />
	2024年7月1日(月)15:00 ～ 2024年9月8日(日)23:59<br />
	<br />
	<p class="newsHeadUnder">【iOS/Android版をご利用のお客様】</p>■iOS/Android版サービス終了<br />
	2024年7月31日(水)15:00<br />
	<br />
	■iOS/Android版の未使用「有償マギアストーン」払戻し申請受付期間<br />
	2024年7月31日(水)18:00 ～ 2024年10月7日(月)23:59<br />
	<br />
	<p class="newsHead">今後の予定</p><p class="mb10"></p><img src="/magica/resource/image_web/announce/announce_2405312.png" class="announceImg" style="display: block;margin: 0 auto;"><br />
	<p class="newsHead">【重要】</p><p class="newsHeadUnder">○払戻しについて</p>・サービス終了後、ご購入いただいた未使用の「有償マギアストーン」がある場合、<br />
	　お申出をいただくことにより払戻しを行います。<br />
	・すでに消費された「有償マギアストーン」、所有中の「無償マギアストーン」、<br />
	　及び「有償マギアストーン」以外の購入済みゲーム内アイテムは払戻しの対象外となります。<br />
	・「有償マギアストーン」と「無償マギアストーン」の所持数は<br />
	　ホーム画面上部の「マギアストーン」の「＋」ボタンをタップし表示される<br />
	　マギアストーン購入画面の下部にてご確認いただけます。<br />
	<span class="c_red">・払戻しについては、本人確認のため、</span><br />
	<span class="c_red">　「プレイヤー名」「プレイヤーID」「引継ぎ・連携ID」が必要となります。</span><br />
	・サービスが終了すると、「プレイヤー名」「プレイヤーID」「引継ぎ・連携ID」を<br />
	　確認できなくなりますので、事前に「プレイヤー名」「プレイヤーID」<br />
	　「引継ぎ・連携ID」をお控えください。<br />
	・「プレイヤー名」及び「プレイヤーID」はホーム画面左上の「キャラクターアイコン」を<br />
	　タップし表示される画面にて確認することができます。<br />
	・「引継ぎ・連携ID」はホーム画面左の「歯車アイコン」をタップした後、<br />
	　「設定」＞「引継ぎ・連携」を順番にタップすることで表示される画面で<br />
	　確認することができます。<br />
	<span class="c_red">・払戻し申請受付期間内にお申出がない場合には、</span><br />
	<span class="c_red">　払戻しができなくなることを、ご了承ください。</span><br />
	<span class="c_red">・各種お問い合わせの際には、お客様のデータ確認を行う必要があるため、</span><br />
	<span class="c_red">　未使用の「有償マギアストーン」の払戻し手続きが完了するまでは、</span><br />
	<span class="c_red">　アプリの削除はお控えください。</span><br />
	<br />
	<span class="c_red">※払戻しの詳細については以下のお知らせをご参照ください。</span><br />
	＞お知らせ：<br />
	<span class="otherNews noticeText" data-id="Notice02">【重要】「有償マギアストーン」の払戻し手続きのお知らせ</span><br />
	<br />
	<p class="newsHeadUnder">○シリアルコードの有効期限について</p>サービス終了に伴い、現在利用可能なシリアルコードの有効期限を、<br />
	誠に勝手ながら下記の通り変更させていただきます。<br />
	<br />
	■対象となるシリアルコード<br />
	・『マギア☆レポート』6巻封入特典<br />
	　いろはちゃんの衣装【未完成】×1<br />
	<br />
	■有効期限<br />
	【DMM版(PC版)をご利用のお客様】<br />
	・「2024年12月31日(火)23:59まで」から「2024年7月1日(月)14:59まで」<br />
	<br />
	【Android版をご利用のお客様】<br />
	・「2024年12月31日(火)23:59まで」から「2024年7月31日(水)14:59まで」<br />
	<br />
	上記シリアルコードにつきましては、お早めにご利用いただけますようお願いいたします。<br />