<img src="/magica/resource/image_web/page/top/takeOver/madoka_press_2.png" class="announceImg">
『魔法少女まどか☆マギカ Magia Exedra』では、リリース後に連携コード（『マギアレコード 魔法少女まどか☆マギカ外伝』の「引継ぎ・連携ID」）を使用することで、<br/>
『マギアレコード 魔法少女まどか☆マギカ外伝』のプレイ情報を引き継いで、アーカイブ機能（魔法少女、メモリア、変身アニメ）を利用することができるようになります。<br/>
<br/>
また、ゲーム内で利用できる連携特典として以下を予定しております。<br/>
・マギアレコードのミラーズランキング最高成績、総合戦力値の順位に応じた称号<br/>
・マギカストーン（無償）<br/>
・特典ポートレイト【きらめく感動の気配！】<br/>
※名称は変更になる可能性があります。<br/>
<br/>
<div class="codeSec noDisp">
	<div class="codeExist">
	連携にあたり以下のコードをスクリーンショット等でお控えいただくようお願いいたします。<br/>
	<dl class="colWrap common_dl">
		<dt class="colLeft">連携コード</dt>
		<dd class="colRight" id="takeOverCode"></dd>
	</dl>
	</div>
	<div class="codeNoExist c_red">
	「引継ぎ・連携ID」が存在しません。<br/><br/>
	</div>
</div>
・特典ポートレイト【きらめく感動の気配！】<br/>
<img src="/magica/resource/image_web/page/top/takeOver/portrait.png" class="announceImg"><br/>
連携コードは『魔法少女まどか☆マギカ Magia Exedra』内で使用することができます。<br/>
<img src="/magica/resource/image_web/page/top/takeOver/popup.png" class="announceImg">
※画面は開発中のものです。<br/>
※『マギアレコード 魔法少女まどか☆マギカ外伝』の「引継ぎ・連携ID」は『魔法少女まどか☆マギカ Magia Exedra』において、「連携コード」として明記されます。<br/>
※連携機能は1度限りのご利用となりますので他ユーザー様への共有はお控えいただきますようお願いいたします。<br/>
<br/>
<p class="newsHead">『魔法少女まどか☆マギカMagia Exedra』事前登録受付中！</p>
2024年リリース予定の『魔法少女まどか☆マギカMagia Exedra』では、<br/>
現在、事前登録を以下より受付中です。<br/>
<br/>
<img src="/magica/resource/image_web/page/top/takeOver/btn_regist.png" class="announceImg announceOuterLink" data-outlink="https://app.adjust.com/1ct910uw">