『マギアレコード 魔法少女まどか☆マギカ外伝』をご利用いただき誠にありがとうございます。<br />
<br />
『マギアレコード 魔法少女まどか☆マギカ外伝』のサービス提供終了に伴い、<br />
資金決済に関する法律第20条第1項の規定に基づき、<br />
未使用の「有償マギアストーン」について下記の要領にて払戻しをいたします。<br />
<br />
<p class="newsHeadUnder">■払戻しを行う前払式支払手段発行者の商号</p>〒102-8353　東京都千代田区六番町4番地5<br />
株式会社アニプレックス<br />
<br />
<p class="newsHeadUnder">■払戻し対象となる前払式支払手段の種類</p>以下の時点で未使用の「有償マギアストーン」<br />
<br />
・DMM版(PC版)<br />
2024年7月1日(月)15:00<br />
<br />
・iOS/Android版<br />
2024年7月31日(水)15:00<br />
<br />
<p class="newsHeadUnder">■払戻し受付期間</p>・DMM版(PC版)<br />
2024年7月1日(月)15:00 ～ 2024年9月8日(日)23:59<br />
<br />
・iOS/Android版<br />
2024年7月31日(水)18:00 ～ 2024年10月7日(月)23:59<br />
<br />
※上記払戻し受付期間内に申出がない場合は、当該払戻し手続きから除斥されます。<br />
<span class="c_red">※DMM版(PC版)とiOS/Android版の両方で未使用の「有償マギアストーン」を</span><br />
<span class="c_red">　お持ちのお客様は、以下に記載のDMM版(PC版)とiOS/Android版</span><br />
<span class="c_red">　それぞれの申出方法にしたがって別途申請頂く必要がございます。</span><br />
<br />
<p class="newsHeadUnder">■事前準備</p><span class="c_red">・払戻しについては、本人確認のため、</span><br />
<span class="c_red">　「プレイヤー名」「プレイヤーID」「引継ぎ・連携ID」が必要となります。</span><br />
・サービスが終了すると、「プレイヤー名」「プレイヤーID」「引継ぎ・連携ID」を<br />
　確認できなくなりますので、事前に「プレイヤー名」「プレイヤーID」<br />
　「引継ぎ・連携ID」をお控えください。<br />
・「プレイヤー名」及び「プレイヤーID」は<br />
　「ホーム画面左上の」＞「キャラクターアイコン」をタップし<br />
　表示される画面」＞「プレイヤーID」にて確認することができます。<br />
・「引継ぎ・連携ID」はホーム画面左の「歯車アイコン」をタップした後、<br />
　「設定」＞「引継ぎ・連携」を順番にタップすることで<br />
　表示される画面で確認することができます。<br />
<span class="c_red">・各種お問い合わせの際には、お客様のデータ確認を行う必要があるため、</span><br />
<span class="c_red">　未使用の「有償マギアストーン」の払戻し手続きが完了するまでは、</span><br />
<span class="c_red">　アプリの削除はお控えください。</span><br />
<br />
<p class="newsHead">申出の方法</p><p class="newsHeadUnder">【DMM版(PC版)をご利用のお客様】</p>1.2024年7月1日(月)15:00にマギアレコード公式サイトのニュース内に掲載される<br />
「DMM版(PC版)「有償マギアストーン」の払戻し手続きのお知らせ」に<br />
　記載される払戻し申請フォームのURLにアクセス。<br />
<br />
2.払戻し申請フォームから以下の必要情報を入力し、「入力内容を確認」ボタンを押下。<br />
・プレイヤー名<br />
・プレイヤーID<br />
・引継ぎ・連携ID<br />
・メールアドレス<br />
<br />
3.入力内容を確認し、「送信する」ボタンを押下。<br />
<br />
4.入力いただいたメールアドレス宛に、当社より払戻し内容についての確認メールが届きます。<br />
<br />
5.内容を確認し、登録頂いたメールアドレスが正しいことを確認するため、<br />
　届いたメールに返信。(件名や本文の内容に指定はございません)<br />
<br />
6.入力いただいたメールアドレス宛に、<br />
　当社よりCASH POST(キャッシュポスト)サービスの利用に必要な「認証キー」が<br />
　記載されたメールが届きましたら、払戻し申請の受付は完了となります。<br />
　後日、入力いただいたメールアドレス宛に、「CASH POST(キャッシュポスト)」<br />
　サービスを利用した払戻しの方法をご案内いたします。<br />
<br />
<p class="newsHeadUnder">【iOS/Android版をご利用のお客様】</p>1.サービスを終了する、2024年7月31日(水)15:00以降に<br />
　Google Play, App Storeにて順次公開される「アーカイブアプリ」を入手して起動。<br />
<span class="c_red">※「アーカイブアプリ」は現在ご利用いただいております</span><br />
<span class="c_red">　『マギアレコード 魔法少女まどか☆マギカ外伝』をアップデートする形で</span><br />
<span class="c_red">　ご提供いたしますので、アプリをアンインストールせずに</span><br />
<span class="c_red">　端末に残しておいていただくようお願いいたします。</span><br />
<span class="c_red">※「アーカイブアプリ」を新規にダウンロードした場合は、</span><br />
<span class="c_red">　払戻し申請前にデータの引き継ぎを実施してください。</span><br />
<br />
2.「払戻し申請」ボタンをタップ。<br />
<br />
3.表示される内容を確認し、メールアドレスを入力して送信。<br />
<br />
4.入力いただいたメールアドレス宛に、当社より「確認番号」が記載されたメールが届きます。<br />
<br />
5.「アーカイブアプリ」の「払戻し申請」ボタンをタップし、<br />
　「確認番号」を入力後、「確認」ボタンをタップ。<br />
<br />
6.入力いただいたメールアドレス宛に、<br />
　当社よりCASH POST(キャッシュポスト)サービスの利用に必要な「認証キー」が<br />
　記載されたメールが届きましたら、払戻し申請の受付は完了となります。<br />
　後日、入力いただいたメールアドレス宛に、「CASH POST(キャッシュポスト)」<br />
　サービスを利用した払戻しの方法をご案内いたします。<br />
<br />
<p class="newsHeadUnder">■払戻しの方法</p>株式会社DG フィナンシャルテクノロジーが運営する<br />
「CASH POST(キャッシュポスト)」サービスを通じて、<br />
当該サービスから提供される払戻し方法<br />
(銀行振込、ローソン店舗受取のいずれかからお客様が希望の受取方法を選択)により<br />
実施いたします。なお、払戻しにかかる手数料は、当社が負担いたします。<br />
<br />
・銀行振込でのお受取方法についてはこちら<br />
<span class="announceOuterLink" data-outlink="https://www.veritrans.co.jp/user_support/cp_bk.html">https://www.veritrans.co.jp/user_support/cp_bk.html</span><br />
<br />
・ローソン店舗でのお受取方法についてはこちら<br />
<span class="announceOuterLink" data-outlink="https://www.veritrans.co.jp/user_support/cp_lw.html">https://www.veritrans.co.jp/user_support/cp_lw.html</span><br />
※ローソン店舗では29,999円までの代金のお受取りが可能です。<br />
　30,000円以上のお受取りの場合は銀行振込をご利用ください。<br />
<br />
※「CASH POST(キャッシュポスト)」とは、<br />
　金融庁管轄の資金移動業者である株式会社DG フィナンシャルテクノロジーが<br />
　管理・運営する送金サービスです。<br />
※払戻しの対象は「有償マギアストーン」を円換算した全額となります。<br />
　(有償マギアストーン１個＝15円換算)<br />
<br />
<p class="newsHeadUnder">■お問い合わせ先</p>下記URLよりお問い合わせください。<br />
＜マギアレコードお問い合わせ＞<br />
<span class="announceOuterLink" data-outlink="https://faq.magireco.com/helpdesk?category_id=17&site_domain=default">https://faq.magireco.com/helpdesk?category_id=17&site_domain=default</span><br />
<br />
<p class="newsHeadUnder">■注意事項</p>・登録内容に確認事項がある場合は別途メールにてご連絡させていただきます。<br />
　内容確認が未完了のお客様につきましては、払戻しの対象外となります。<br />
・メールのセキュリティ設定によっては正しくメールが届かない場合がございますので、<br />
　以下のドメインを受信できるよう設定をお願いいたします。<br />
　@magireco.com<br />
　@magi-reco.com<br />
　@cashpost.jp<br />
・払戻しは順次開始いたしますが、お申出の完了順にて対応をさせていただきます。<br />
　払戻し完了までお時間を頂戴する場合がございますのでご了承ください。<br />
・すでに消費された「有償マギアストーン」、所有中の「無償マギアストーン」、<br />
　及び「有償マギアストーン」以外の購入済みゲーム内アイテムは払戻しの対象外となります。<br />
・日本国内口座以外への払戻しはいたしかねます。<br />
・ご登録いただきました個人情報は、払戻し手続きのみで利用いたします。<br />
　払戻し後は当社個人情報保護ポリシー(https://www.aniplex.co.jp/help/privacy.html)に則り、<br />
　適切に破棄いたします。<br />
・申出完了とともに、本対応趣旨、利用規約にご理解、同意いただいたものとし、<br />
　申出のキャンセルはできないものとします。<br />