<div id="sortfilter" class='chara'>
	<p class='filterText'>チェックをつけた項目のみ表示します</p>

	<div id="filterAttList">
		<div class='filterBar'>
			<p>属性</p>
			<span class='filterAtt se_tabs ALL' data-type-filter="ALL"><span class='checkBox'></span>すべて表示</span>
		</div>
		<div class='flexBox'>
			<span class="filterAtt se_tabs FIRE" data-type-filter="FIRE">
				<span class='checkBox'></span>
			</span>
			<span class="filterAtt se_tabs WATER" data-type-filter="WATER">
				<span class='checkBox'></span>
			</span>
			<span class="filterAtt se_tabs TIMBER" data-type-filter="TIMBER">
				<span class='checkBox'></span>
			</span>
			<span class="filterAtt se_tabs LIGHT" data-type-filter="LIGHT">
				<span class='checkBox'></span>
			</span>
			<span class="filterAtt se_tabs DARK" data-type-filter="DARK">
				<span class='checkBox'></span>
			</span>
			<span class="filterAtt se_tabs VOID" data-type-filter="VOID">
				<span class='checkBox'></span>
			</span>
		</div>
	</div>

	<div id="filterRankList">
		<div class='filterBar'>
			<p>レアリティ</p>
			<span class='filterRank se_tabs ALL' data-rankfilter-id="ALL"><span class='checkBox'></span>すべて表示</span>
		</div>
		<div class="flexBox">
			<span class="filterRank RANK_1 se_tabs" data-rankfilter-id="RANK_1" ><span class='checkBox'></span><span class="star"></span>1</span>
			<span class="filterRank RANK_2 se_tabs" data-rankfilter-id="RANK_2" ><span class='checkBox'></span><span class="star"></span>2</span>
			<span class="filterRank RANK_3 se_tabs" data-rankfilter-id="RANK_3" ><span class='checkBox'></span><span class="star"></span>3</span>
			<span class="filterRank RANK_4 se_tabs" data-rankfilter-id="RANK_4" ><span class='checkBox'></span><span class="star"></span>4</span>
			<span class="filterRank RANK_5 se_tabs" data-rankfilter-id="RANK_5" ><span class='checkBox'></span><span class="star"></span>5</span>
		</div>
	</div>

	<div id="filterEnhanceList">
		<div class='filterBar'>
			<p>精神強化</p>
			<span class='filterEnhance se_tabs ALL' data-enhancefilter-id="ALL"><span class='checkBox'></span>すべて表示</span>
		</div>
		<div class="flexBox">
			<span class="filterEnhance enable se_tabs" data-enhancefilter-id="enable" ><span class='checkBox'></span>開放</span>
			<span class="filterEnhance disable se_tabs" data-enhancefilter-id="disable" ><span class='checkBox'></span>未開放</span>
		</div>
	</div>

	<div id="filterInitialList">
		<div class='filterBar'>
			<p>タイプ</p>
			<span class='filterInitial se_tabs ALL' data-initialfilter-id="ALL"><span class='checkBox'></span>すべて表示</span>
		</div>
		<div class="flexBox">
			<span class="filterInitial BALANCE se_tabs" data-initialfilter-id="BALANCE" ><span class='checkBox'></span>バランス</span>
			<span class="filterInitial ATTACK se_tabs" data-initialfilter-id="ATTACK" ><span class='checkBox'></span>アタック</span>
			<span class="filterInitial DEFENSE se_tabs" data-initialfilter-id="DEFENSE" ><span class='checkBox'></span>ディフェンス</span>
			<span class="filterInitial SUPPORT se_tabs" data-initialfilter-id="SUPPORT" ><span class='checkBox'></span>サポート</span>
			<span class="filterInitial HEAL se_tabs" data-initialfilter-id="HEAL" ><span class='checkBox'></span>ヒール</span>
			<span class="filterInitial MAGIA se_tabs" data-initialfilter-id="MAGIA" ><span class='checkBox'></span>マギア</span>
			<span class="filterInitial EXCEED se_tabs" data-initialfilter-id="EXCEED" ><span class='checkBox'></span>エクシード</span>
			<span class="filterInitial ULTIMATE se_tabs" data-initialfilter-id="ULTIMATE" ><span class='checkBox'></span>アルティメット</span>
		</div>
	</div>

	<div id="cardSortBtnsArea">
		<span class="btn b_pink se_decide TE sort popupCloseBtn"><span class='b_screen'></span>表示する</span>
	</div>
</div>