#saleSettingPopup .popupTextArea {
  height: 332px !important;
}

#saleSettingPopup .settingWrap {
  border: 1px solid #a47122;
  border-radius: 10px;
  width: 600px;
  margin: 20px auto 42px;
  position: relative;
  padding: 0 0 27px 38px;
}

#saleSettingPopup .settingWrap .header {
  position: relative;
  padding-left: 75px;
  top: 0px;
  left: -5px;
  width: 314px;
  height: 32px;
  color: #fff;
  background: url(/magica/resource/image_web/common/filter/filter_header_l_02.png) left top no-repeat;
  background-size: 314px 32px;
  margin: 22px 0px 16px 0;
  font-size: 16px;
  line-height: 32px;
  text-align: left;
}

#saleSettingPopup .settingWrap .header:before {
  width: 43px;
  height: 45px;
  background: url(/magica/resource/image_web/common/filter/filter_icon_memoria.png) left top no-repeat;
  background-size: 43px 45px;
  display: block;
  position: absolute;
  top: -10px;
  left: 18px;
  content: "";
}

#saleSettingPopup .settingWrap .checkWrap {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100px;
  font-size: 18px;
}

#saleSettingPopup .settingWrap .checkWrap[data-filter="RANK_3"] {
  width: 135px;
}

#saleSettingPopup .settingWrap .checkWrap[data-filter="EVENT"] {
  width: 190px;
}

#saleSettingPopup .settingWrap .checkWrap .checkBox {
  width: 36px;
  height: 36px;
  background-image: url("/magica/resource/image_web/common/icon/icon_checkbox.png");
  background-size: 36px 36px;
  display: block;
  position: relative;
  margin-right: 6px;
}

#saleSettingPopup .settingWrap .checkWrap .star {
  width: 22px;
  height: 24px;
  background: url("/magica/resource/image_web/common/icon/icon_rarity_memoria.png") left top no-repeat;
  background-size: 22px 22px;
  background-position: 0px 1px;
  display: inline-block;
  margin-right: 5px;
}

#saleSettingPopup .settingWrap .checkWrap.current .checkBox:before {
  width: 27px;
  height: 21px;
  background-image: url("/magica/resource/image_web/common/icon/icon_checkbox_check.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 9px;
  left: 5px;
  content: "";
}

#saleSettingPopup .settingWrap #clearBtn {
  position: absolute;
  width: 130px;
  height: 36px;
  right: 37px;
  bottom: 27px;
}

#saleSettingPopup #cautionWrap {
  display: none;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  margin: 10px 220px 0px;
  text-align: left;
  position: absolute;
  top: 300px;
}

#saleSettingPopup #cautionWrap.on {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#saleSettingPopup #cautionWrap .checkBox {
  width: 30px;
  height: 30px;
  background-image: url("/magica/resource/image_web/common/icon/icon_checkbox.png");
  background-size: 30px 30px;
  display: block;
  position: relative;
  margin-right: 6px;
}

#saleSettingPopup #cautionWrap .star {
  width: 22px;
  height: 24px;
  background: url("/magica/resource/image_web/common/icon/icon_rarity_memoria.png") left top no-repeat;
  background-size: 22px 22px;
  background-position: 0px 1px;
  margin-right: 5px;
  display: inline-block;
}

#saleSettingPopup #cautionWrap.current .checkBox:before {
  width: 23px;
  height: 18px;
  background-image: url("/magica/resource/image_web/common/icon/icon_checkbox_check.png");
  background-repeat: no-repeat;
  background-size: 23px 18px;
  position: absolute;
  top: 7px;
  left: 4px;
  content: "";
}

#saleSettingPopup .decideBtn.off {
  pointer-events: none;
}
