<div id="BanWrap">
	<div id="mainWrap">
		<span class="banTitle">アカウント停止</span>
		<div class="banList">
			<p>このたび、お客様のアカウントにおきまして、以下のいずれかの行為が確認されたため、運営の判断によりアカウントを停止いたしました。</p>
			<div class="caution">
				【対象となる行為】<br>
				・利用規約に違反する行為。<br>
				・過度の連続アクセスにより、サーバーに負担をかける行為。<br>
				・不正アクセスを行い本サービス、または他ユーザー様に不利益を与える行為。<br>
				・本サービスにおいて誹謗中傷など他ユーザー様に不快感を与える行為。<br>
				・プログラムの不具合を利用した不正行為(アイテムを不正に取得する等の特に悪質な行為)、およびそれを助長する行為(故意に不具合を利用したと運営が判断した場合を含む)により本サービスの運営、提供を妨害し、それらに支障をきたす行為。<br>
			</div>
			<p>無期限停止措置を行ったアカウントにつきましては、今後ご利用いただくことは出来ません。<br>
		※本件に関するお問い合わせにつきましては、上記の報告をもって回答と代えさせていただきます。</p>
		</div>
	</div>
</div>